body {
    font-family: 'Lora', serif;
    background: #FBEEDD;
    padding-bottom: 70px;
}

html, body, .container {
    height: 100%;
}

/* Modify brand and text color */ 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: #FE7210; 
} 

.nav-link {
  color: #FE7210 !important;
}

.nav-link2 {
    color: #FBEEDD !important;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #FE7210;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #FBEEDD;
    margin-bottom: 5px;
}

/* Bikin tulisan di tengah */
.mx-auto {
    width: 50%;
}
h1 {
    font-size: 60px;
    color: #FE7210;
}
h4, h2 {
    color: #0D9CA4;
}
h3 {
    color: #06647E;
}
p {
    color: #FE7210;
}

/* Hover image index */  
  .cont {
    position: relative;
    width: 420px;
  }
  
  .image {
    display: block;
    width: 420px;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(254,114,16,0.5);
  }
  
  .cont:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #FBEEDD;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* Footer id */
.copyright {
    color: #0D9CA4;
}
.fa-instagram {
    color: #FE7210;
  }
  .fa-linkedin {
    color: #FE7210;
  }
  .media ul li{
    float: left;
    padding-left: 17px;
    font-size: 30px;
    text-align: center;
  }
  .media ul li a{
    color: #FE7210;
  }
  .media ul li a:hover{
    color: #ffbb2a;
  }
  
/* Hover image */
/* quick reset */
  /* relevant styles */
  .img__img {
    width: 400px;
    height: auto;
  }
  .img__wrap {
    position: relative;
    height: 256px;
    width: 400px;
  }

  
  .img__description {
    position: absolute;
    padding-top: 25%;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 145, 0, 0.5);
    color: #FBEEDD;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }